.bordered-brown-background {
    padding: 10px 30px;
    background-color:  #AD986E;
    color: white;
    border: #ffffff solid;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
  }

  .btn-contanier{
    display: flex;

    justify-content: center;
    margin-top: 20px;
  }

  .buttons{
    display: flex;
    flex-direction: column;
  }