
/*
.product{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.info{
    min-width: 30%;
}

/*
.l1{
    display: flex;
    justify-content: space-between;
}

.l2{
    display: flex;
    justify-content: space-between;
}
    */