@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
      font-family: 'Regular';
        src: local("Roboto-Regular"),
        url('./fonts/Roboto-Regular.ttf') format('truetype');

    }

@font-face {
      font-family: 'Bold';
        src: local("Roboto-Bold"),
        url('./fonts/Roboto-Bold.ttf') format('truetype');

    }


@font-face {
    font-family: "Medium";
    src: local("Roboto-Medium"),
    url('./fonts/Roboto-Medium.ttf') format('truetype');
}